<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
        integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>

    </style>
    <script>
        function login() {
            firstname = '{{template_first_name}}'
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: { first_name_give: firstname, last_name_give: $('#lastname').val() },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token']);
                        alert('로그인 완료');
                        window.location.replace('/main')
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>

<body>
    <header>
        <img src="static\logo.png" alt="">
    </header>
    <div>
        <img src="static\big-icon.png" alt="">
    </div>
    <main>
        <div>
            <p><label>이름 <span id="firstname">{{template_first_name}}</span></label></p>
            <p><label for="lastname">성 </label><input id="lastname" type="text"></p>
            <p>내 동료의 이름은 {{template_first_name}}입니다. <button onclick="login()">확인</button></p>
        </div>
    </main>
</body>

</html>